<div class"row">
  <div class="col-xs-8 col-xs-offset-2">
    <span class="pull-right cross-btn" ng-click="closePost()">×</span>
    <h1>{{singlePost.title}}</h1>
    <h5>By: {{singlePost.author}} | {{singlePost.datePublished}}</h5>
    <div class="postContent">
      {{singlePost.content}}
    </div>
  </div>
</div>